.header {
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

.table{
  width: 25rem;
  height: 20rem;
  border-style: double;
  border-color: #6190e8;
  margin-top: 3rem;
  margin-left: 34rem;
  box-shadow: 4px 8px 15px #a7bfe8;
  display: flex;
  flex-flow: wrap;
  align-items: flex-end;
}

.sum{
  width: 9rem;
  height: 7rem;
  background-color: #5bd75b;
}
.sum:hover {
  opacity: 0.8;
  cursor: pointer;
}
.sum:active {
  background-color: #80ff80;
}
.sum p:active{
  margin-top: -0.5rem;
}

.refresh{
  width: 7rem;
  height: 7rem;
  background-color: #ffff33;
}
.refresh p:hover {
  opacity: 0.8;
  cursor: pointer;
  text-shadow: 2px 2px 5px #ff6666;
  font-size: 2.2rem;
  color: red;
}
.refresh:active {
  background-color: #ffffb3;
}
.refresh p:active{
  margin-top: -0.5rem;
}

.minus {
  width: 9rem;
  height: 7rem;
  background-color: #ff6666;
}
.minus:hover {
  opacity: 0.8;
  cursor: pointer;
}
.minus:active {
  background-color: #ff6666;
}
.minus p:active{
  margin-top: -0.5rem;
}


.sum p {
  font-size: 5rem;
  font-family: cursive;
  text-align: center;
  margin-top: -0.1rem;
  color: white;
}
.refresh p {
  font-size: 1.9rem;
  font-family: monospace;
  text-align: center;
  margin-top: 2.4rem;
  color: black;
}
#number {
  margin-top: -14rem;
  margin-left: 1.2rem;
  font-size: 8rem;
  font-family: cursive;
  color: #b3b3cc;
}
.minus p {
  font-size: 5rem;
  font-family: cursive;
  text-align: center;
  margin-top: -0.1rem;
  color: white;
}
